@{
    Layout = "_Layout";
}
@using ToDoList.ViewModels

@model LoginViewModel

<h2>Are you sure you want to log out</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm("LogOff", "Account"))
{
    <input type="submit" value="Log out"/>
}

@Html.ActionLink("Back to Accounts page", "Index")